@import "login.scss";
@import "nav.scss";
@import "post.scss";
@import "loading.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    height: 100vh;
    overflow: hidden;
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background: rgba(0,0,0,0.06);
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
    }
    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0,0,0,0.12);
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    }
}

.app-content{
    margin: 60px 0 0 5px;
    height: calc(100vh - 65px);
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}
@media (max-width: 768px) {
    .app-content {
        height: calc(100vh - 130px);
    }
}
.ant-layout{
    background-color: transparent!important;
}
.border-r-grey{
    border-right: 1px solid rgba(7, 17, 27, 0.1);
}
.border-t-grey{
    border-top: 1px solid rgba(7, 17, 27, 0.1);
}
.border-b-grey{
    box-shadow: rgba(7, 17, 27, 0.1) 0 4px 5px 0
}
.card-bg{
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #f0fbff 100%);
}
canvas{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.menu-bg{
    background-image: linear-gradient(to left, #dfe9f3 0%, white 100%);
}

.header-menu{
    .ant-menu-item{
        display: flex;
        align-items: center;
    }
}
body,a,.pointer{
    cursor:url(../images/pointer.cur),default;
}
input:hover {
    cursor:url(../images/input.cur),text;
}