.markdown {
  table{
    border-color: grey;
    overflow: auto;
    margin: 0px 0px 1rem;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    thead{
      background-image: linear-gradient(to left, #dfe9f3 0%, white 100%);
      th{
        padding: 0.3rem 0.6rem;
        border: 1px solid rgb(214, 214, 214);
        vertical-align: top;
        text-align: center;
      }
    }
    tbody{
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
      tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        td{
          padding: 0.3rem 0.6rem;
          border: 1px solid rgb(214, 214, 214);
          vertical-align: top;
          text-align: center;
          background-color: #fff;
        }
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    margin: 0.5rem 0;
    color: rgb(52, 76, 103);
    font-weight: bold;

    &:hover {
      padding-left: 1.1rem;
    }
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  blockquote {
    padding: 1rem;
    border-left: 0.2rem solid rgb(73, 177, 245);
    background-color: rgb(233, 245, 254);
    color: rgb(106, 115, 125);
    display: block;
  }

  ul {
    list-style-type: disc;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  pre {
    display: block;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    border-radius: 0.3rem;
    margin: 1rem 0;
    position: relative;
    background: rgb(38, 50, 56) !important;
    padding: 0.5rem !important;

    code {
      color: rgb(255, 255, 255);
      border: 0 !important;
      display: inline-block;
      border-radius: 3px;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      margin: 0 3px;
      background-color: transparent !important;
    }
  }

  a {
    @apply text-blue-600 underline;
  }
}

.post-page {
  .ant-image {
    margin: 1px auto;
  }
}
@media (max-width: 768px) {
  .post-page {
    justify-content: center;
    .ant-card{
      margin-right: 0!important;
    }
  }
}