@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/c/font_4220832_wuyqo71eqvj.woff2?t=1692707706852') format('woff2'),
    url('//at.alicdn.com/t/c/font_4220832_wuyqo71eqvj.woff?t=1692707706852') format('woff'),
    url('//at.alicdn.com/t/c/font_4220832_wuyqo71eqvj.ttf?t=1692707706852') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}